<% @pictures.each do|p|%>
<% p.avatars.each do |ta|%>
  <div class="contacts" style="display: list-item;background:url(<%= ta.photo.url %>) no-repeat 50% 0;" class="bg1">
    <span>CONTACT US</span><br>
    <span>联系我们</span>
    <div class="contact_cont">
      <div class="view">
        <div class="cont">
          <p class="title"></p><br>
          <p class="content"></p>
        </div>
        <div class="cont">
          <p class="title"></p><br>
          <p class="content"></p>
        </div>
      </div>

      <div class="view_add">
        <div class="cont">
          <p class="title"></p><br>
          <p class="content"></p>
        </div>
        <div class="cont">
          <p class="title"></p><br>
          <p class="content"></p>
        </div>
      </div>

    </div>
  </div>
<% end %>
<% end %>


