   <div class="employ_p">
     <% @picture.each_with_index do |picture, index|%>
          <% picture.avatars.each do |ta|%>
            <div class="employ_img"><%= image_tag "#{ta.photo}"  %></div>
        <% end %> 
      <% end %>
    </div>

<div class="employ">
  <div class="employ_main">
    <div class="employ_desc">
      <%= @content.html_safe %>
    </div> 
  </div>
</div>