<div class="banner">
  <ul class="list">
    <% @pictures.each do|p|%>
     <% p.avatars.each do |ta|%>
       <li style="display: list-item;background:url(<%= ta.photo.url %>) no-repeat  50% 0;" class="bg1" >
       </li>
     <% end %>
   <% end %>
  </ul>
</div>

<div class="product_2">
  <div class="product-main_2">
    <ul>
    
      <li>
        <div class="icon_2" style="background: url(/assets/reds.gif);">
        <div class="contact_2"> 
          <strong>网上商城</strong> 
        </div>

        </div> 
          <ul class="mennu">

          <% @wssc.each do |w|%>
            <li><%= link_to "#{w.name}", prod_extras_home_index_path(id: w.id)  %></li>
          <% end %>

         </ul> 
      </li>

      <li>
        <div class="icon_2" style="background: url(/assets/other.gif);">
          <div class="contact_2"> 
           <strong>电子交易化</strong> 
          </div>
       </div>

         <ul class="mennu">
           <% @dzjyh.each do |w|%>
             <li><%=link_to "#{w.name}", prod_extras_home_index_path(id: w.id) %></li>
           <% end %>
         </ul>
      </li>

      <li class="last">
        <div class="icon_2" style="background: url(/assets/others.gif);">
          <div class="contact_2">
            <strong>其他应用</strong> 
          </div>
        </div>    

          <ul class="mennu">
          <% @qtyy.each do |w|%>
            <li><%= link_to "#{w.name}", prod_extras_home_index_path(id: w.id) %></li>
          <% end %>
         </ul> 
      </li>

    </ul>
    
  </div>
</div>
