<div class="banner">
  <ul class="list">
    <% @pictures.each do|p|%>
     <% p.avatars.each do |ta|%>
       <li style="display: list-item;background:url(<%= ta.photo.url %>) no-repeat  50% 0;" class="bg1" >
       </li>
     <% end %>
   <% end %>
  </ul>
</div>

<div class="slution">
 <h2>解决方案<span class="f12 ml5">SOLUTIONS</span></h2>
 <div class="slute_cont">
 <ul>
      <% @nav.each_with_index do |w,index|%>
   <li>
      <h3>
        <%= link_to "#{w.name}","/home/nav_detail?id=#{w.id}",class: 'title'%>
      </h3>
      <div class="slcon">
       <p> <%= w.detail.html_safe  %></p>
      </div>
      <div class="clear"></div>
   </li>
        <% end %>
 </ul>
</div>
</div>