<div class="plate">
    <ul>
      <%= plate_link backend_products_path, color: 'red', title: '产品管理', desc: '管理产品' %>
       <%= plate_link backend_programmes_path, color: 'orange', title: '方案管理', desc: '方案产品' %>
    </ul>
  </div>
  <div class="line"></div>  