@charset "utf-8";
/* CSS Document */

body {
	font-size: 12px; 
	font-family: "Microsoft YaHei"; 
	color: #666666;
}
a:link {
	color: #666666;
	text-decoration: none;
}
a:visited {
	color: #666666;
	text-decoration: none;
}
a:hover {
	color: #ff6600;
	text-decoration: none;
}

.head {
	width: 100%;
	height: 120px;
	margin: 0 auto;
}
.header{
	width:100%;
	height: 30px;
	padding: 5px;
	text-align: center;
	background-color: #fafafa;
}
.number {
	width: 35%;
	height: 10px;
	padding: 5px;
	float: left;
}
.number img {
	width: 30px;
	height: 20px;
	margin-bottom: -8px;
}
.keyword {
	width: 40%;
	float: right;
	padding: 5px 5px 5px 0px;
	text-align: left;
}
.keyword span {
	margin-right: 20px;
}

.logo {
	width: 35%;
	text-align: center;
	height: 65px;
	padding-top: 26px;
	clear: both;
	float: left;
	margin-left: 2%;
}

.nav {
	width: 57%;
	height: 50px;
	padding-top: 26px;
               float: right;

}
.nav ul {
	width: 570px;
	height: 50px;
	margin: 0 auto;
}
.nav ul li {
	width: 100px;
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	color: #333333;
	float: left;
	text-align: center;
}

.nav ul li a {
	display: block;
	width: 90px;
	height: 60px;
	color: #333333;
}
.nav ul li a:hover {
	/*background:url(/assets/nav_hover_03.png) no-repeat 0 bottom;*/
	border-bottom: 4px solid #ffbb18;

}
.li-other a{
/*	background:url(/assets/nav_hover_03.png) no-repeat 0 bottom;*/
	border-bottom: 4px solid #ffbb18;
}

.banner {
	width: 100%; 
	height: 590px; 
	position: relative;
	clear: both;
}
.banner .list {
	width: 100%; 
	height: 590px; 
	overflow: hidden; 
	position: relative; 
	z-index: 1;
}
.banner .list li {
	width: 100%; 
	height: 590px; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	display: none;
}

.link{
	height: 100%;
	width: 100%;
}
.banner .btn {
	position: absolute; 
	bottom: 10px; 
	left: 20%; 
	margin-left: 410px; 
	z-index: 100;
}
.banner .btn li {
	margin-left:12px; 
	background: #fff; 
	text-indent: -999em; 
	float: left; 
	width: 14px; 
	height: 14px; 
	cursor: pointer; 
	border-radius: 50%; 
}
.banner .btn li.hover {
	background: #FC3;
}

.banner .list li.bg1 .hover {
	animation: img2_5 1.5s ease-out; 
	-webkit-animation: img2_5 1.5s ease-out;
}

/*.banner .list li.bg1 .text6{ position:absolute; left:0; top:260px;font-size:24px; color:#ffffff;}*/
.banner .list li.bg1 .hover{ animation: img2_6 1.8s ease-out; -webkit-animation: img2_6 1.8s ease-out;}
/*.banner .list li.bg1 .text7{ position:absolute;  background:#ffbb18; left:0; top:360px;font-size:16px; color:#ffffff; width:120px; height:36px; border:1px solid #ffbb18; text-align:center; line-height:36px;}
.banner .list li.bg1 .text7:hover {
	border:none;
	background:#ffffff;
	color:#ff6600;
}*/
.banner .list li.bg1 .hover{ animation: img2_7 2s ease-out; -webkit-animation: img2_7 2s ease-out;}

@keyframes img2_5{0%{left:-400px;}  50%{right:-400px; opacity:0.1;} 100% {left:0; opacity:1;}}
@-webkit-keyframes img2_5{0%{left:-400px;}  50%{right:-400px; opacity:0.3;} 100% {left:0; opacity:1;}}
@keyframes img2_6{0%{left:-400px;}  50%{right:-400px; opacity:0.1;} 100% {left:0; opacity:1;}}
@-webkit-keyframes img2_6{0%{left:-400px;}  50%{right:-400px; opacity:0.3;} 100% {left:0; opacity:1;}}
@keyframes img2_7{0%{left:-400px;}  50%{right:-400px; opacity:0.1;} 100% {left:0; opacity:1;}}
@-webkit-keyframes img2_7{0%{left:-400px;}  50%{right:-400px; opacity:0.3;} 100% {left:0; opacity:1;}}
.product {
	width: 100%;
	height: 280px;
}
.product-main {
	width: 73%;
	height: 110px;
	padding-top: 80px;
	margin: 0 auto;
}
.product-main ul li {
	width: 22%;
	height: 110px;
	margin-right: 15%;
	float: left;
}
.product-main ul li .icon img {
	width: 250px;
	height: 150px;
	position: relative;
}

.product-main ul a {
	color: #666666;
}

.icon {
	width: 110px;
	float: left;
	position: absolute;
}

.contact {
	width: 190px;
	height: 92px;
	float: left;
	position: relative;
	top: 0px;
	background-color: #f8c900;
	opacity: 0.8;
	padding: 30px;
	display: none;
	margin-top: -155px;
}

.icon:hover .contact{
	display: block;
}
 
  .shape{
 	height: 35px;
 	width: 120px;
 	border: 3px solid #ffffff;
              margin: 0 auto;       
              padding: 25px; 
              font-size:20px;
              font-family: "Microsoft YaHei";
              color: #ffffff;
              text-align: center;
 }

 .product .last{
 	float: right;
 	margin-right: 4%; 
 }

/*#方案与产品*/
 .back {
	background-color: #ffffff;
	width: 100%;
	height: auto;
 }
 .product_2 {
	width:100%;
	min-height: 400px;
	overflow: hidden;
	padding-bottom: 50px;
	background: url(/assets/back.gif) ;
}
.product-main_2 {
	width:1100px;
	height: auto;
	padding-top: 100px;
	margin:0 auto;
}
.product-main_2 ul li {
	width: 275px;
	height: auto;
	margin-right: 10%;
	overflow: hidden;
	float: left;    
}
.icon_2 {
	width: 280px;
	height: 100px;
	overflow: hidden;	
}
 .contact_2 {
	width: 240px;
	height: 30px;
	font-size: 24px;
	color: #ffffff;
	text-align: right;
	margin-top: 45px;
}

.product-main_2 .mennu {
	text-decoration: none;
	width: 249px;
	height: auto;
	margin-top: 5px;
	background-color: #ffffff;
	display: none;
}
.product-main_2 .mennu li{
	text-decoration: none;
	font-size: 18px;
	width: 249px;
	height: 15px;
	padding: 15px;
	color: #000000;
	background: #ffffff;
	opacity: 0.6;
}
.product-main_2 ul li:hover .mennu {
 	display: block;
 }
 .product_2 .last{
 	float: right;
 	margin-right: 4%; 
 }
/*#动态资讯开始*/
 .product_3 {
	width: 100%;
	height: auto;
	overflow: hidden;

}

.product-main_3 {
	width: 1002px;
	height: auto;
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0 auto;
}

.hyzx{ 
	color: #ffffff;
	background-color: #fec234;
	width: 90px;
	height: 25px;
	font-size: 18px;
	padding: 5px;
	text-align: center;
	float: left;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.product_3 .gsdt {
	float: left;
              width: auto;
	height: auto;
	overflow: hidden;
	font-size: 18px;
	padding: 5px;
	margin-left: 5px;
	text-align: center;
}
.search {
	width: 250px;
	height: 35px;
              float: right;
              border-radius: 5px;
              border: 1px solid #c7c7c7;
}


.tex{
	width: 170px;
	height: 35px;
	font-size: 12px;
	border: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 10px;
}

.sousuo {
	background-color: #fec234;
	width: 70px;
	height: 35px;
	border: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #ffffff;
	float: right;
}

.product_3 .infos{
	width: 100%;
	height: auto;
	overflow: hidden;
	clear: both;
	padding-top: 10px;
}

.product_3 .infos .picture{
	width: 330px;
	height: auto;
	overflow: hidden;
	float: left;
}

.product_3 .infos .picture ul li{
	text-decoration: none;
	width: auto;
	overflow: hidden;
	height: 200px;
	margin-top: 30px;
}
.product_3 .infos .content{
	width: 670px;
	height: auto;
	overflow: hidden;
	float: right;
	color: #000000;

}

.product_3 .infos .content ul li{
	text-decoration: none;
	width: 650px;
	height: 180px;
	overflow: hidden;
	padding: 10px;
	background-color: #fafafa;
	margin-top: 30px;
	word-wrap: break-word;
	text-align: left;
}
.product_3 .infos .content ul li .title{
	font-size: 18px;
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: ellipsis;
}
.product_3 .infos .content ul li .desc{
	overflow: hidden;
 	text-overflow: ellipsis;
	word-wrap: break-word;
}
/*#动态资讯结束*/


.case {
	width:100%;
	height:260px;
	background:#f5f5f5;
	border-top:1px solid #ffffff;
}
.case-main {
	width:1002px;
	margin:0 auto;
	clear:both;
}
.case-main h1 {
	font-size:18px;
	font-weight:normal;
	color:#333333;
	line-height:40px;
	padding-top:15px;
}
.case-main .english {
	font-size:14px;
	color:#999999;
}
.case-main .more {
	float:right;
	font-size:9px;
}
.case-main .more a {
	width:60px;
	height:12px;
	background:#ff6600;
	color:#ffffff;
	padding:0 5px;
}
.case-main ul li{
	width:170px;
	padding-top:12px;
	float:left;
	margin-right:38px;
}
.case-main ul .mr-none {
	margin-right:0;
}
.case-main ul li h2 {
	font-size:14px;
	color:#333333;
	font-weight:normal;
	line-height:30px;
}
.case-main ul li p {
	line-height:20px;
}
.footer {
	width:100%;
	height:40px;
	line-height:40px;
	background: #fafafa;
	border-top: 1px solid #d9d9d9;
	margin:0 auto;
	clear:both;
	text-align: center;
	margin-top: 30px;
}
.bt {
	border-top:1px solid #d9d9d9;
}


/*关于我们代码开始*/
.abouts{
	width:100%; 
	height:826px; 
	position:relative;
	clear: both;
}
.abouts .list {
	width:100%; 
	height:826px; 
	overflow:hidden; 
	position:relative; 
	z-index:1;
}
.abouts .list li {
	width:100%; 
	height:826px; 
	position:absolute; 
	left:0px; 
	top:0px; 
	display:none;
}
.about_introduct{
	width: 100%;
	height: 327px;
	text-align: center;
	padding-top: 80px;
	background: url(/assets/jians.png) no-repeat 50% 0;
}

.about_title{
	font-size: 20px;
	color: #272727;
}
.introduct_cont{
	width: 1100px;
	max-height: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px;
	text-align: left;
	overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;

}
.culture{
	width: 100%;
	height: 102px;
	text-align: center;
	padding-top: 90px; 
	background: url(/assets/wens.png) no-repeat 50% 0;
}
.culture_cont{
	width: 100%;
	height: 382px;
	background: url(/assets/blues.png) no-repeat 50% 0;	
}

.visition{
	width: 100%;
	height: 93px;
	text-align: center;
	padding-top: 90px; 
	background: url(/assets/yuans.png) no-repeat 50% 0;
}
.visition_cont{
	width: 100%;
	height: 210px;
	background: url(/assets/plane.png) no-repeat 50% 0;	
}
.distribut{
	width: 100%;
	height: 180px;
	text-align: center;
	padding-top: 209px; 
	background: url(/assets/zongs.png) no-repeat 50% 0;	
}

.distribut_decs{
	margin: 0 auto;
	width: 550px;
	padding-top: 30px;
	height: 100px;
	text-align: left;
	word-wrap: break-word;
	overflow:hidden; 
	text-overflow: ellipsis;
}

.distribut_cont{
	width: 100%;
	height: 500px;
	padding-top: 80px;
	background: url(/assets/maps.png) no-repeat 50% 0;		
}

 .distribut_cont .countrys{
	width: 1170px;
	height: 440px;
	padding-top: 60px;
	margin: 0 auto;
	overflow: hidden;
}
 .distribut_cont .countrys img{
 	width: 280px;
 	height: 278px;
 }

.distribut_cont ul li{
 	float: left;
 	height: 400px;
	margin-right: 5px;
	text-align: center;
}
 .zmd{
	width: 1160px;
	height: 259px;
	padding-top: 60px;
	margin: 0 auto;
	overflow: hidden;
}
 .zmd ul li{
 	float: left;
	margin-right: 5px;
}

.zmd ul li img{
	height: 280px;
	width: 280px;
}

 .about_desc{
 	font-size: 16px;
 }
/*联系我们*/
.contacts {
	width: 100%; 
	height: 720px; 
	clear: both;
	text-align: center;
	padding-top:40px; 
	color: #000000;
}
.contacts span{
	font-size: 20px;
	padding:10px; 
}
.contact_cont {
	margin: 0 auto;
	margin-top: 40px;
	width: 920px;
	height: 550px;
	border: 1px solid #d9d9d9;
}
.contact_cont  .view{
	margin: 0 auto;
	width: 850px;
	height: 220px;
	padding-top: 40px;
	border-bottom:1px  dashed #d9d9d9; 
}
.view  ul li{
	width: 425px;
	height: 300px;
	float: left;
	text-align: left;
	word-wrap: break-word;
	overflow:hidden; 
	text-overflow: ellipsis;
}
.view .title{
	font-size: 20px;
}
.view .title .pic{
	color: #FF0033;
	cursor: pointer;
}
.view .content{
 	font-size: 18px;
 }

.view .maps{
	display: none;	 
	position: absolute;
}

.view .maps img{
	width: 500px;
	height: 300px;
}

.view .close{
	position: relative;
	top: 20px;
	width:100%;
	height: 20px;
	background: #c7c7c7;
	opacity: 0.8;
	text-align: center;
	cursor: pointer;
}
.view .close:hover{
	color: #FF0033;
}
p{ text-indent:2em;}
/*选项卡公共样式*/		
#tags{
	width:100%; 
	height:40px;
	line-height:40px;
	padding-top:30px;
}
#tags li {
  width:128px;
	height:40px;
	background:#eeeeee;
	font-size:14px;
	color:#333333;
	line-height:40px;
	text-align:center;
	margin-right:20px;
	cursor:pointer;
	float:left;
}
#tags li a{color:#333333; text-decoration:none; display:block; width:128px; height:40px;}
#tags li.selectTag{height:40px; line-height:40px; background:#ff6600; color:#ffffff; }
#tags li.selectTag a{color:#ffffff;}
#tagContent div.selectTag {display: block;}
.tagContent {
	padding:30px 0;
}
#tagContent1 {
	display:none;
}
#tagContent2 {
	display:none;
}

/* tabbtn */


#leftcon .subbox .sublist{
	width:1000px;
}
.sublist p {
	line-height:28px;
	text-indent:24px;
}
.sublist .tein {
	text-indent:0;
}
.sublist h3 {
	font-size:14px;
	color:#333333;
	font-weight:normal;
	line-height:30px;
}
.gywm p {
	line-height:28px;
	text-indent:24px;
}


/*详情页*/
.ex{
	width:100%;
	height: auto;

}

.ex .desc {
	width:1150px;
	height: auto;
	margin:0 auto;
	padding-top: 20px;

}
.extra {
	width:1100px;
	height: auto;
	margin:0 auto;
	padding:20px 0 20px 0;
}
.extra h1 {
	font-size:30px;
	font-weight:normal;
	color:#333333;
	line-height:60px;
	margin-top: 50px;
}
 .gsdt {
	float: left;
              width:auto;
	height: auto;
	overflow: hidden;
	font-size: 18px;
	padding: 5px;
	margin-left: 5px;
	text-align: center;
}

.extra h1 .location span {
	color:#333333;
}

.extra h1 .title {
	text-align: center;
}

.cont {
	width:100%;
	height: auto;
	padding: 20px 0 20px 0;
}
.cont .introducts {
	min-height: 50px;
	width:1100px;
	margin: 0 auto;
	font-family: "Microsoft YaHei";
	word-wrap: break-word;
	overflow:hidden; 
	text-overflow: ellipsis;
}

.cont .detail{
	width:1100px;
	min-height: 300px;
	margin: 0 auto;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	word-wrap: break-word;
	overflow:hidden; 
	text-overflow: ellipsis;
}

.cont .action{
	width: 1110px;
	margin: 0 auto;
	padding: 50px 50px 0 50px;
	font-size: 14px;
}

.cont .action .spanl{
	float: left;
}

.cont .action .spanr{
	float: right;
}

